*{
	margin:0;
	padding:0;
	//font-weight:bold;
	// background-color:#F7F7F7;
}
/* 标题头 */
.header{
	height: 31px;
	background-color:#009B72;
	overflow:hidden;
	line-height:31px;
}
.header2{
	height: 80px;
	background-color:white;
	overflow:hidden;
	line-height:80px;
	position: relative;
}
.header .nav{
	
	margin-left:50px;
	list-style:none;
	width:414px;
	margin-left:1050px;
	
}
.header2 .nav{
	
	margin-left:750px;
	list-style:none;
	width:819px;
	
}
.header2 .nav .product{
	
	 border-bottom: 1px solid; 
}


.header .nav li{
	width:16%;
	float:left;
	border-left:1px solid #47B488;
	text-align:center;
	
}

.header2 .nav li{
	width:10%;
	float:left;
	
	text-align:center;
	
}
.header .nav li:hover{
	background-color:#47B488;
}
.header2 .nav li:hover{
	   text-color:yellow;
}
.header .nav li a{
	text-decoration:none;
	color:white;
	font-size:14px;
	
}
.header2 .nav li a{
	text-decoration:none;
	color:#393939;
	font-size:14px;
	
}
.header2 span{
	color:#118D5C;
	font-size:40px;	
	margin-left:205px;
	float:left;
	font-weight:bold;
	
}
.header2 span a{
	text-decoration:none;
	color:#118D5C;
	}
.header2 .nav .product{
	text-decoration:underline;
	line-color:#393939;
}

.middle{
	margin-left:400px;
	margin-top:100px;
	
}
.middle .sub{
 background:#009B72;
 padding-top:3px;
 border-top:1px solid #708090;
 border-right:1px solid #708090;
 border-bottom:1px solid #708090;
 border-left:1px solid #708090; 
 width:80px;
 height:25px;
 font-size:15px;
 cursor:hand;
	color:white;
}
.middle table{
	width:500px;
	height:250px;
	
}
.middle .button1{
	margin-left:500px;
	 font-size:15px;
	
	
}
.middle .button1 a{
	color:#009B72;
	text-decoration:none;
	
	
}
.middle .hid{
 background:#009B72;
 padding-top:3px;
 border-top:1px solid #708090;
 border-right:1px solid #708090;
 border-bottom:1px solid #708090;
 border-left:1px solid #708090; 
 width:80px;
 height:25px;
 font-size:15px;
 cursor:hand;
	color:white;
}
.middle .res{
 background:#009B72;
 padding-top:3px;
 border-top:1px solid #708090;
 border-right:1px solid #708090;
 border-bottom:1px solid #708090;
 border-left:1px solid #708090; 
 width:80px;
 height:25px;
 font-size:15px;
 cursor:hand;
	color:white;
}



/* 底部链接部分 */
.bottom{
	
	height:200px;
}
.bottom .commend{
    margin-left:200px;
	position:absolute;

}
.bottom .service{
    margin-left:400px;
	position:absolute;

}
.bottom .concerning{
    margin-left:650px;
	position:absolute;

}
.bottom .business{
    margin-left:850px;
	position:absolute;

}
.bottom .commend li{
		list-style:none;
}
.bottom .commend li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .commend span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .service li{
		list-style:none;
}
.bottom .service li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .service span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .concerning li{
		list-style:none;
}
.bottom .concerning li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .concerning span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .business li{
		list-style:none;
}
.bottom .business li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .business span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .online{
	float:right;
	location:absolute;
	margin-right:200px;
	text-align:center;
}

.bottom .online .first{
	font-size:25px;
	color:#393939;
	font-weight:bold;
	
}
.bottom .online .second{
	font-size:15px;
	color:#393939;
	
}
/* 网关部分 */
.about{
	/* bottom:10px; */
	/* text-align:center; */
	
	
}
.about span{
    font-size:16px;
	color:#363636;
	font-weight:bold;
	
}
.about .copy{
	color:#7B7B7B;
	font-size:10px;
	margin-left:205px;
	 position:absolute; 
}
.about .copy span{
	color:#7B7B7B;
	font-size:15px;
	margin-left:470px;
	
	
}
.about .copy .image{
	list-style:none;
	position:relative;
	
}
.about .copy .image li{
	width:50px;
	
}
.about .copy .image .weibo{
	
   position:relative;
	margin-left:1000px;
	margin-top:-35px;
}
.about .copy .image .weixin{
	
	 position:relative;
	margin-left:1050px;
	margin-top:-45px;
}
.about .copy .image .zhi{
	 position:relative;
	margin-left:1100px;
	margin-top:-48px;
}