*{
	margin:0;
	padding:0;
}
.list{
	text-align:center;
	list-style:none;
	border:1px solid;
}
.list li{
	float:left;
	position:relative;
	margin:10px;
	border:1px solid #FDE7D0;
	overflow:hidden;
}
.list li span{
	font-size:20px;
	color:#35DC7C;
}
.list li .mask{
	position:absolute;
	bottom:-100px;
	background:rgba(0,0,0,0.5);
	height:100px;
	width:100%;
	transition:all 1s;
}
.list li img{
	width:220px;
	height:240px;
}
.list li form{
	position:relative;
	top:0;
	left:0;
}
.list li:hover .mask{
	top:0;
	transform:rotateZ(360deg);
}