*{
	margin:0;
	padding:0;
	//font-weight:bold;
	// background-color:#F7F7F7;
}
/* 标题头 */
.header{
	height: 31px;
	background-color:#009B72;
	overflow:hidden;
	line-height:31px;
}
.header2{
	height: 80px;
	background-color:white;
	overflow:hidden;
	line-height:80px;
	position: relative;
}
.header .nav{
	
	margin-left:50px;
	list-style:none;
	width:414px;
	margin-left:1050px;
	
}
.header2 .nav{
	
	margin-left:750px;
	list-style:none;
	width:819px;
	
}
.header .nav li{
	width:16%;
	float:left;
	border-left:1px solid #47B488;
	text-align:center;
	
}

.header2 .nav li{
	width:10%;
	float:left;
	
	text-align:center;
	
}
.header .nav li:hover{
	background-color:#47B488;
}
.header2 .nav li:hover{
	   text-color:yellow;
}
.header .nav li a{
	text-decoration:none;
	color:white;
	font-size:14px;
	
}
.header2 .nav li a{
	text-decoration:none;
	color:#393939;
	font-size:14px;
	
}
.header2 span{
	color:#118D5C;
	font-size:40px;	
	margin-left:205px;
	float:left;
	font-weight:bold;
	
}
.header2 span a{
	text-decoration:none;
	color:#118D5C;
	}
.header2 .nav .product{
	text-decoration:underline;
	line-color:#393939;
}
/* 第二部分 */
.second{
	height:60px;
	background-color:white;
}
.second .oppo
{  
	height:60px;
	float:left;
	margin-left:100px;
}
.second .oppo a{
	height:60px;
	font-size:50px;
	color:green;
	text-decoration:none;
	text-align:center;
	line-height:60px;
	font-weight:bold;
}
.second .context{
	position:absolute;
	float:left;
	margin-left:300px;
	height:60px;
	width:1000px;
}
.second .context li{
 	width:100px;
	height:60px;
	text-align:center;
	line-height:60px;
	margin-right:20px;
	float:right;
}
.second .context li a{
	text-decoration:none;
	color:green;
	float:right;
	} 
	
	
.luara-left{position:relative;padding:0;overflow: hidden;  margin: 0 auto;}
.luara-left ul{position: relative;padding: 0;margin: 0;}
.luara-left ul li{float: left;list-style: none;}

/*reset*/
body{font-family: "microsoft yahei","微软雅黑";}
li{list-style: none;}

body{height: auto;margin: 0 auto;}
body>h5{margin-left: 20px;}
body>div{margin-left: 20px;}

/*example*/

.example2{}
.example2 ol{position:absolute;width: 80px;height: 20px;bottom:30px;left:50%; margin-left:-40px;}
.example2 ol li{float:left;width: 10px;height: 10px;margin: 5px;background:#ccc;border-radius:5px;}
.example2 ol li.seleted{background: green;}



/*轮播以下部分  */
.goods{
	
	background:white;
	height:2100px;
	
}

.goods .first_line{
	
	margin-left:195px;
	float:left;
}
.goods .second_line{
	
	margin-left:195px;
	float:left;
}
.goods .third_line{
	margin-top:150px;
	margin-left:195px;
	float:left;
}
.goods .forth_line{
	
	margin-left:195px;
	float:left;
}
.goods .first_line .f_1{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
	
}
.goods .first_line .f_2{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
	
}
.goods .first_line .f_3{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
	
}
.goods .first_line .f_4{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
	
}
.goods .second_line .s_1{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}

.goods .second_line .s_2{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .second_line .s_3{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .second_line .s_4{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .third_line .t_1{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}

.goods .third_line .t_2{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .third_line .t_3{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .third_line .t_4{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .forth_line .fo_1{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}

.goods .forth_line .fo_2{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .forth_line .fo_3{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}
.goods .forth_line .fo_4{
	width:295px;
	height:470px;
	border:1px solid #E0E0E0;
	float:left;
}






/* 底部链接部分 通用代码部分 */
.bottom{
	
	/* height:200px; */
	/* background:#F6F6F6; */
	position:absolute;
	top:200px;
}
.bottom img{
	margin-top:50px;
	margin-left:205px;
}
.bottom .commend{
  
  position:absolute;
  left:205px;
  top:3050px;
  width:110px;
}

.bottom .service{
	top:3050px;
    left:350px;
	position:absolute;
width:110px;
}
.bottom .concerning{
	top:3050px;
    left:500px;
	position:absolute;
width:110px;
}
.bottom .business{
	top:3050px;
    left:650px;
	position:absolute;
width:110px;
}
.bottom .commend li{
		list-style:none;
}
.bottom .commend li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .commend span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .service li{
		list-style:none;
}
.bottom .service li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .service span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .concerning li{
		list-style:none;
}
.bottom .concerning li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .concerning span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .business li{
		list-style:none;
}
.bottom .business li a{
	text-decoration:none;
	color:#363636;
	font-size:15px;
}
.bottom .business span{
	font-size:16px;
	color:#363636;
	font-weight:bold;
}
.bottom .online{
	float:right;
	position:absolute;
	top:3000px;
	left:800px;
	text-align:center; 

}
.bottom .online img{
	float:right;
	location:absolute;
	margin-right:205px;

}
.bottom .online .first{
	font-size:25px;
	color:#393939;
	font-weight:bold;
	location:absolute;
	
	
	
}
.bottom .online .second{
	font-size:15px;
	color:#393939;
	background:#F6F6F6;
	
}
/* 网关部分 */
.about{
	/* background:#F6F6F6; */
	/* height:600px; */
	top:200px;
	position:absolute; 
}
.about span{
    font-size:16px;
	color:#363636;
	font-weight:bold;
	 
}
.about .copy{
	color:#7B7B7B;
	font-size:10px;
	left:205px;
	top:3300px;
	position:absolute; 
	
}
.about .copy span{
	color:#7B7B7B;
	font-size:15px;
	margin-left:450px;
	
	
}
.about .copy .image{
	list-style:none;
	position:relative;
	
}
.about .copy .image li{
	width:50px;
	
}
.about .copy .image .weibo{
	
   position:relative;
	margin-left:1000px;
	margin-top:-35px;
}
.about .copy .image .weixin{
	
	 position:relative;
	margin-left:1050px;
	margin-top:-45px;
}
.about .copy .image .zhi{
	 position:relative;
	margin-left:1100px;
	margin-top:-48px;
}
.about hr{
	width:1150px;
	position:relative;
    margin-left:205px;
  
	margin-top:270px;
	
}
.link{
	margin-left:122px;
	color: #7B7B8F;
	font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑, "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
}
.link a{
	
	text-decoration: none;
	color: #7B7B8F;
}



.search{
	 background-image:url('../images/search_bg.png'); 
	/* background:red; */
	height: 413px;
	width:1600px;
}

.search .form1{
	width: 700px;
	height: 70px;
	margin-left:435px;
	margin-top:88px;
	line-height:70px;
	text-align:center;
}
.search .form1 input[type="text"]{
	

   width: 533px;
	height: 69px;
	font-size: 18px;
	
	
}
.search .form1 input[type="submit"]{
	
background-color:#2AAD6F;
   width: 155px;
	height: 72px;
font-size: 18px;
font-weight:3px;
color: white;
	
}

.form{
	
	position:absolute;
	top:600px;
	left:30%;	
}
.form span{
	font-size:25px;
	
}
.form select{
	font-size:25px;
		
}
.middle .standard{
	position:absolute;
	top:730px;
	left:835px;
	
}
.middle span{
	font-size:30px;
	font-weight:bold;
	position:absolute;
	top:1405px;
	color:#393939;
	left:155px;
	
}
.middle .feel{
	
	position:absolute;
	top:1470px;
	left:155px;
	
}